* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  /* background-color: #130802; */
  background-color: #3A2416;

}

.principal {
  width: 100%;
  min-height: 100vh;
  font-family: "Medieval";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-image: url(../assets/images/tabern-background.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;


  mask-image: linear-gradient(to bottom, transparent, black 20%, black 80%, transparent);
  mask-repeat: no-repeat;
  mask-size: 100% 100%;

  .welcomeContainer {
    margin-top: 15vh;
    max-width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vh;

    .welcome {
      width: 20vw;
    }

    .title {
      height: 10vh;
      margin: 0;
    }

    .subtitle {
      // margin-top: 5vh;
      text-align: center;
      color: silver;
      text-shadow: -0.2vw 0.2vh black;
    }
  }

  .howItWorks {
    margin-bottom: 40vh;
    padding: 5vh 5vw;
    background-image: url("../assets/images/parchment-background.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 50vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 4vh;
    text-align: center;
    color: #3b2f1e;

    h2 {
      margin-top: 20vh;
      margin-bottom: 4vh;
      font-size: 4vh;
    }
  }
  .steps {
    display: flex;
    flex-direction: column;
    gap: 4vh;
    width: 100%;
  }

  .step {
    background: rgba(255, 255, 255, 0.0);
    padding: 2vh 3vw;
    border-radius: 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      margin-bottom: 1.5vh;
      font-size: 3vh;
    }

    p {
      font-size: 2;
      width: 20vw;
    }
  }
}