* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
  /* background-color: #130802; */
    background-color: #3A2416;
}
.principal {
  width: 100%;
  min-height: 100vh;
  font-family: "Medieval";
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../assets/images/tabern-background.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  

  mask-image: linear-gradient(to bottom, transparent, black 20%, black 80%, transparent);
  mask-repeat: no-repeat;
  mask-size: 100% 100%;

  .welcome{
    margin-top: 10vh;
    height: 20vh;
  }
  .title{
    height: 20vh;
    margin: 0;
  }
}