main{
    width: 100%;
    min-height: 81vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form{
    display: flex;
    align-items: center;
    justify-content: baseline;
}