.titleMissions {
    margin-bottom: 5vh;
    height: 20vh;
    width: 50vw;
    background-image: url(../assets/images/title-background-missions.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.wall {
    width: 100%;
    background-image: url(../assets/images/wall-seamless.jpg);
    background-repeat: repeat;
    background-size: 20%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10vh;

}

.paper {
    width: 80%;
    min-height: 40vh;
    background-image: url(../assets/images/paper-seamless.jpg);
    background-size: 50% 40vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto-fill, 40vw);
    border: 0.5vw solid black;
    padding: 3vh;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25vw;
    height: 35vw;
    margin: auto;
    margin-top: 2vw;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 1vw;
    position: relative;
    text-align: center;
    font-family: "Medieval";
    color: #56381B;
    font-weight: bold;
}

.MAIN {
    background-image: url(../assets/images/cards/main-card.png);

    div {
        width: 75%;
    }

    .title {
        position: absolute;
        top: 16vw;
        font-size: 1.2vw;
        text-decoration: underline;
    }

    .description {
        position: absolute;
        top: 21vw;
        font-size: 0.8vw;
    }

    .xp {
        position: absolute;
        width: fit-content;
        top: 26.5vw;
        left: 6.5vw;
    }

    .completed {
        position: absolute;
        width: fit-content;
        top: 26.5vw;
        right: 4vw;
    }

}

.SIDE {
    background-image: url(../assets/images/cards/side-card.png);

    div {
        width: 75%;
    }

    .title {
        position: absolute;
        top: 14.5vw;
        font-size: 1vw;
        text-decoration: underline;
    }

    .description {
        position: absolute;
        top: 18vw;
        font-size: 0.8vw;
    }

    .xp {
        position: absolute;
        width: fit-content;
        top: 23vw;
        left: 6.5vw;
    }

    .completed {
        position: absolute;
        width: fit-content;
        top: 27vw;
        left: 4vw;
    }
}

.DAILY {
    background-image: url(../assets/images/cards/dialy-card.png);

    div {
        width: 75%;
    }

    .title {
        position: absolute;
        top: 14.5vw;
        font-size: 1vw;
        text-decoration: underline;
    }

    .description {
        position: absolute;
        top: 18vw;
        font-size: 0.8vw;
    }

    .xp {
        position: absolute;
        width: fit-content;
        top: 23.5vw;
        left: 6.5vw;
    }

    .completed {
        position: absolute;
        width: fit-content;
        top: 27vw;
        left: 4vw;
    }
}